<div id="equipment-create">
<%= form_for(@equipment, :html => { :class => "form-group"}, remote: true) do |f| %>
    <% if @equipment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>
        <ul>
        <% @equipment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <h3 class="text-primary">Step 1 : Create Equipment - General Information</h3>
    </div>
    <div class="field form-group">
      <%= f.label :eq_name %><br>
      <%= f.text_field :eq_name, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :eq_description %><br>
      <%= f.text_area :eq_description, :cols => 50, :rows => 10, :class => "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :eq_number %><br>
      <%= f.text_field :eq_number, :class => "form-control" %>
    </div>
    <div class="actions">
      <% if @equipment.id == nil %>
        <% submit_text = 'Create a New Equipment' %>
      <% else %>
        <% submit_text = 'Update Equipment' %>
      <% end %>
      <%= f.submit submit_text, :class => "btn btn-primary"  %>
    </div>
  <% end %>
</div>