<div class="page-header">
  <h1>
	  Listing Equipment
	</h1>
</div>

<ul class="breadcrumb">
  <li class="active">
	  All Equipment
	</li>
</ul>

<%= form_tag equipment_index_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table class="table pretty">
  <thead>
    <tr>
      <th><%= sortable "eq_name", "Equipment Name" %></th>
      <th><%= sortable "eq_description", "Equipment Description" %></th>
      <th><%= sortable "eq_number", "Equipment Number" %></th>
      <th>Categories</th>
      <th>Sub Categories</th>
      <th>Links</th>
      <% if current_user != nil && current_user.admin? %>
        <th>Admin Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.eq_name, equipment %></td>
        <td><%= equipment.eq_description %></td>
        <td><%= equipment.eq_number %></td>
        <td>
          <% equipment.categories.each do |category| %>
          <%= link_to category.cat_name, category %>
          <% end %>
        </td>
        <td>
          <% equipment.sub_categories.each do |sub_category| %>
          <%= link_to sub_category.name, sub_category %>
          <% end %>
        </td>
        <td>
          <% equipment.links.each do |link| %>
              <%= link.link_name %>
          <% end %>
        </td>
        <% if current_user != nil && current_user.admin? %>
        <td><%= link_to "delete", equipment, method: :delete, data: { confirm: "You sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @equipment %>
</div>
<br>

<%= button_to "New Equipment",  new_equipment_path, :class => "btn btn-primary", :method => :get %>
