<div class="page-header">
  <h1>
	  Listing Equipment
	</h1>
</div>

<ul class="breadcrumb">
  <li class="active">
	  All Equipment
	</li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Equipment name</th>
      <th>Equipment description</th>
      <th>Equipment number</th>
      <th>Categories</th>
      <th>Sub Categories</th>
      <th>Links</th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.eq_name, equipment %></td>
        <td><%= equipment.eq_description %></td>
        <td><%= equipment.eq_number %></td>
        <td>
          <% equipment.categories.each do |category| %>
          <%= link_to category.cat_name, category %>
          <% end %>
        </td>
        <td>
          <% equipment.sub_categories.each do |sub_category| %>
          <%= link_to sub_category.name, sub_category %>
          <% end %>
        </td>
        <td>
          <% equipment.links.each do |link| %>
              <%= link.link_name %>
          <% end %>
        </td>
        <td><%#= link_to 'Show', equipment %>
        <%#= link_to 'Edit', edit_equipment_path(equipment) %>
        <%#= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "New Equipment",  new_equipment_path, :class => "btn btn-primary", :method => :get %>
