<div class="page-header">
  <h1>
	  Listing Equipment
	</h1>
</div>

<ul class="breadcrumb">
  <li class="active">
    <%= link_to 'All Equipment', equipment_index_path %>
	</li>
</ul>

<%= search_form_for @q do |f| %>
<%= f.label :eq_name_or_eq_description_cont, "Enter a Text here" %>
<%= f.search_field :eq_name_or_eq_description_or_eq_number_or_categories_cat_name_or_sub_categories_name_cont %>
<%= f.label :categories_id_eq, "Categories" %>
<%= f.select :categories_id_eq, options_from_collection_for_select(Category.all, "id", "cat_name"), include_blank: true %>
<%= f.label :sub_categories_id_eq, "Sub Categories" %>
<%= f.select :sub_categories_id_eq, options_from_collection_for_select(SubCategory.all, "id", "name"), include_blank: true %>
  <%= f.submit %>
<% end %>

<table class="table pretty">
  <thead>
    <tr>
      <th><%= sort_link(@q, :eq_name, "Equipment Name") %></th>
      <th><%= sort_link(@q, :eq_description, "Equipment Description") %></th>
      <th><%= sort_link(@q, :eq_number, "Equipment Number") %></th>
      <th>Categories</th>
      <th>Sub Categories</th>
      <% if current_user != nil && current_user.admin? %>
        <th>Admin Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.eq_name, equipment %></td>
        <td><%= equipment.eq_description %></td>
        <td><%= equipment.eq_number %></td>
        <td>
          <% equipment.categories.each do |category| %>
          <%= category.cat_name %>
          <% end %>
        </td>
        <td>
          <% equipment.sub_categories.each do |sub_category| %>
          <%= sub_category.name %>
          <% end %>
        </td>
        <% if current_user != nil && current_user.admin? %>
        <td><%= link_to "delete", equipment, method: :delete, data: { confirm: "You sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @equipment %>
</div>
<br>

<%= button_to "New Equipment",  new_equipment_path, :class => "btn btn-primary", :method => :get %>
