<h1>Listing equipment</h1>
<table>
  <thead>
    <tr>
      <th>Eq name</th>
      <th>Eq description</th>
      <th>Eq number</th>
      <th>Categories</th>
      <th>Sub Categories</th>
      <th>Links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.eq_name %></td>
        <td><%= equipment.eq_description %></td>
        <td><%= equipment.eq_number %></td>
        <td>
          <% equipment.categories.each do |category| %>
              <%= category.cat_name %>
          <% end %>
        </td>
        <td>
          <% equipment.sub_categories.each do |sub_category| %>
            <%= sub_category.name %>
          <% end %>
        </td>
        <td>
          <% equipment.links.each do |link| %>
              <%= link.link_name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
