<div class="page-header">
  <h1>
	 Show Equipment
	</h1>
</div>

<ul class="breadcrumb">
  <li>
	  <%= link_to 'Back', equipment_index_path %> <span class="divider">/</span>
	</li>
	<li class="active">
	  Show Equipment
	</li>
</ul>

<div class="col-md-12 column">
  <div id="equipment-show">
    <%= render :partial => 'show_equipment',  locals: { equipment: @equipment } %>
  </div>
  <div id="category-main-content show">
  <div>
    <h3 class="text-primary">Step 2 : Link Categories</h3>
  </div>
    <div class="jumbotron">
      <p><strong>Linked Categories</strong></p>
      <ul>
      <% @equipment.categories.each do |category| %>
        <li><%= category.cat_name %></li>
        <ul>
          <% category.sub_categories.each do |sub_category| %>
            <% if @equipment.sub_categories.include?(sub_category) %>
              <li><%= sub_category.name %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
      </ul>
    </div>
    <div id="modify-categories">
      <%= button_to "Modifiy Categories",  modifiy_category_path(@equipment), :class => "btn btn-primary", :method => :get, remote: true %>
    </div>
  </div>
</div>