<div class="page-header">
  <h1>
	  <%= @equipment.eq_name %> <small><%= @equipment.eq_number %></small>
	</h1>
</div>
<ul class="breadcrumb">
   <li>
     <%= link_to 'Home', equipment_index_path %> <span class="divider">/</span>
  </li>
  <li class="active">
	  Show Equipment
  </li>
</ul>
<p id="notice"><%= notice %></p>

<h3>Equipment description:</h3>
<p>
  <%= @equipment.eq_description %>
</p>

<h3>Equipment categories:</h3>
<p>
  <% @equipment.categories.each do |category| %>
  <strong><%= link_to category.cat_name, category %></strong>
    <% category.sub_categories.each do |sub_category| %>
      | <%= link_to sub_category.name, sub_category %>  
    <% end %>
  <% end %>
</p>


<h3>Equipment links:</h3>
<p> 
  <ul>
    <% @equipment.links.each do |link| %>
      <li><%= link.link_name %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= button_to "Edit Equipment",    edit_equipment_path(@equipment), :class => "btn btn-primary", :method => :get %>
</p>
